@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
*::selection{
    background-color:  yellow;
}

.gen-text{
    background-color: yellow;
    text-align: center;
    /* margin: 10px 0 ; */
    padding:20px;
}

.gen-text .content .text1{
    font-size: 40px;
}

.gen-text .content .text1 span{
    color:  darkred;
    font-weight: 500;
}

.dancer{
    background:  darkred;
    height: 70vh;
    width: 100%;
    position: relative;

}

.contain{
    width:850px;
    height:450px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.slide-row{
    display:flex;
    width:100vh;
}

.slide-col{
    width:890px;
    height:480px;
    position: relative;
}

.user-img{

    /* padding-top: 5; */
    position: absolute;
    top:11%;
    right:0;
    height: 90%;
    /* width: 20%; */
}

.user-img img{
    /* padding-top: 10; */
    margin-top: 5;
    height: 70%;
    border-radius: 0px;
}

.user-text{
    background-color:  yellow; 
    height: 260px; 
    width: 465px;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    border-radius: 0px;
    padding: 30px;
    box-sizing: border-box;
    z-index: 2;
}

.home-content{
    padding: 20px;
    background-color:  darkred;
}

.hc-head{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 50px;
}

.home-content .home-bio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1rem;
} 

.legabio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:0.1rem;
}

.trans{
    background: yellow;
    padding:30px;
    margin: 10px;
    border-radius: 10px;
}

.awards{

    background-color: yellow;
    padding:20px;
    margin: 10px;   
}

.trans-con {
    padding:30px;
    text-align:justify;
}

.trans-head{
    text-align:center;
    padding:10px;
}

.biblio{
    padding: 20px;
    background-color:yellow;
    text-align: center;
}

.biblio .a{
    color: yellow;
}

.lega{
    padding: 20px;
    background-color:darkred;
}

.legacy{
    padding: 30px;
    text-align: justify;
}

.quotes{
    background-color: yellow;
    padding: 30px;
}

.quote-head{
    padding:20px 100px 20px 100px;
    text-align: justify;

}

.quotes .qp{
    padding-right: 100px;
    text-align: right;
    font-weight:500;
    font-size: 25px;

}

.awards-con{
    padding:5px;
    text-align:center;
    align-content: center;
}

.back{
    font-size: 30px;
    padding: 20px;
    background-color: rgb(9, 158, 216);
    text-align: center;
}

#mainlink{
    color: rgb(97, 6, 139);
    text-decoration: none;
}

#mainlink:hover{
    color: rgb(185, 12, 228);
    text-decoration: underline;
}